@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<!-- Page loading spinner -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
    </div>
</div>

<main class="page-wrapper">

    <!-- NavBar -->
    <partial name="~/Pages/Shared/_NavBarPartialLight.cshtml" />

    <!-- Page content -->
    <section class="position-relative h-100 pt-5 pb-4">

        <!-- Change password form -->
        <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
            <div class="w-100 align-self-start pt-1 pt-md-4 pb-4" style="max-width: 526px;">
                <h1 class="text-center text-xl-start">Change Your Password</h1>
                <p class="text-center text-xl-start pb-3 mb-3">Update your account password.</p>

                <partial name="_StatusMessage" for="StatusMessage" />

                <form id="change-password-form" method="post" class="mb-2" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="position-relative mb-4">
                        <label asp-for="Input.OldPassword" class="form-label fs-base">Current password</label>
                        <div class="password-toggle">
                            <input asp-for="Input.OldPassword" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="Enter your current password" />
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox">
                                <span class="password-toggle-indicator"></span>
                            </label>
                            <div class="position-absolute start-0 top-100 fs-sm text-danger">
                                <span asp-validation-for="Input.OldPassword"></span>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative mb-4">
                        <label asp-for="Input.NewPassword" class="form-label fs-base">New password</label>
                        <div class="password-toggle">
                            <input asp-for="Input.NewPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Enter your new password" />
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox">
                                <span class="password-toggle-indicator"></span>
                            </label>
                            <div class="position-absolute start-0 top-100 fs-sm text-danger">
                                <span asp-validation-for="Input.NewPassword"></span>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative mb-4">
                        <label asp-for="Input.ConfirmPassword" class="form-label fs-base">Confirm new password</label>
                        <div class="password-toggle">
                            <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Confirm your new password" />
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox">
                                <span class="password-toggle-indicator"></span>
                            </label>
                            <div class="position-absolute start-0 top-100 fs-sm text-danger">
                                <span asp-validation-for="Input.ConfirmPassword"></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Update password</button>
                </form>

                @if (!ModelState.IsValid)
                {
                    <div class="alert d-flex alert-danger mt-3 mb-3" role="alert">
                        <i class="bx bx-bell lead me-3"></i>
                        <div>
                            @Html.ValidationSummary()
                        </div>
                    </div>
                }
            </div>
            <!-- Copyright -->
            <partial name="~/Pages/Shared/_Copyright.cshtml" />
        </div>

        <!-- Background -->
        <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url(/img/account/signin-bg.jpg);"></div>
    </section>
</main>

<!-- Back to top button -->
<a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}