<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Move package cache to fast X: drive -->
    <add key="globalPackagesFolder" value="X:\DevCache\nuget\packages" />
    <add key="repositoryPath" value="X:\DevCache\nuget\packages" />
    <!-- Enable parallel package downloads -->
    <add key="maxHttpRequestsPerSource" value="16" />
    <!-- Disable package signature verification for faster installs -->
    <add key="signatureValidationMode" value="none" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>