<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a href="~/Start" class="nav-link">Start</a>
    </li>
    <li class="nav-item">
        <a href="~/Settings" class="nav-link">Settings</a>
    </li>
    <li class="nav-item">
        <a href="~/Pricing" class="nav-link">Pricing</a>
    </li>
    <li class="nav-item">
        <a href="~/Help" class="nav-link">Help</a>
    </li>
</ul>
