@page
@model Yuzu.Web.Pages.Account.Manage.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<!-- Page loading spinner -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
    </div>
</div>

<main class="page-wrapper">

    <!-- NavBar -->
    <partial name="~/Pages/Shared/_NavBarPartialLight.cshtml" />

    <!-- Page content -->
    <section class="position-relative h-100 pt-5 pb-4">

        <!-- Forgot password form -->
        <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
            <div class="w-100 align-self-start pt-1 pt-md-4 pb-4" style="max-width: 526px;">
                <h1 class="text-center text-xl-start">Forgot Your Password?</h1>
                <p class="text-center text-xl-start pb-3 mb-3">No problem! Just enter your email address to reset your password. If we find your email in our database, we will send you instructions to reset your password.</p>
                <form class="mb-2" method="post" novalidate id="forgotPasswordForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="position-relative mb-4">
                        <label asp-for="Input.Email" class="form-label fs-base">Email</label>
                        <input asp-for="Input.Email" type="email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com" required />
                        <div class="position-absolute start-0 top-100 fs-sm text-danger">
                            <span asp-validation-for="Input.Email"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Reset Password</button>
                </form>
                @if (!ModelState.IsValid)
                {
                    <div class="alert d-flex alert-danger mt-3 mb-3" role="alert">
                        <i class="bx bx-bell lead me-3"></i>
                        <div>
                            @Html.ValidationSummary()
                        </div>
                    </div>
                }
                <a href="~/account/login" class="btn btn-link btn-lg w-100">Back to login</a>

                <div class="alert d-flex alert-info mt-4" role="alert">
                    <i class="bx bx-info-circle lead me-3"></i>
                    <div>
                        If you don't see the email in your inbox, please check your spam or junk folder. Sometimes our emails can end up there by mistake.
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <partial name="~/Pages/Shared/_Copyright.cshtml" />
        </div>

        <!-- Background -->
        <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url(/img/account/signin-bg.jpg);"></div>
    </section>
</main>

<!-- Back to top button -->
<a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}