@page
@model Yuzu.Web.Pages.Account.Manage.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<!-- Page loading spinner -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
    </div>
</div>

<main class="page-wrapper">

    <!-- NavBar -->
    <partial name="~/Pages/Shared/_NavBarPartialLight.cshtml" />

    <!-- Page content -->
    <section class="position-relative h-100 pt-5 pb-4">

        <!-- Forgot password confirmation -->
        <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
            <div class="w-100 align-self-start pt-1 pt-md-4 pb-4" style="max-width: 526px;">
                <h1 class="text-center text-xl-start">You've got mail.</h1>
                <p class="text-center text-xl-start pb-3 mb-3">
                    We've sent password reset instructions to your email address.
                </p>

                <div class="alert d-flex alert-info mt-4" role="alert">
                    <i class="bx bx-info-circle lead me-3"></i>
                    <div>
                        If you don't see the email in your inbox, please check your spam or junk folder. Sometimes our emails can end up there by mistake.
                    </div>
                </div>

                <a href="~/account/login" class="btn btn-primary shadow-primary btn-lg w-100 mt-4">Return to login</a>
            </div>
            <!-- Copyright -->
            <partial name="~/Pages/Shared/_Copyright.cshtml" />
        </div>

        <!-- Background -->
        <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url(/img/account/signin-bg.jpg);"></div>
    </section>
</main>

<!-- Back to top button -->
<a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>