@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<!-- Page loading spinner -->
<div class="page-loading active">
	<div class="page-loading-inner">
		<div class="page-spinner"></div><span>Loading...</span>
	</div>
</div>

<!-- Page wrapper for sticky footer -->
<!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
<main class="page-wrapper">

	<!-- NavBar -->
	<partial name="~/Pages/Shared/_NavBarPartialDark.cshtml" />

	<!-- Hero -->
	<section class="position-relative overflow-hidden">
		<div class="position-relative bg-dark zindex-4 pt-lg-3 pt-xl-5">

			<!-- Text -->
			<div class="container zindex-5 pt-5">
				<div class="row justify-content-center text-center pt-4 pb-sm-2 py-lg-5">
					<div class="col-xl-8 col-lg-9 col-md-10 py-5">
						<h1 class="display-4 text-light pt-sm-2 pb-1 pb-sm-3 mb-3">Take a Break!</h1>
						<p class="fs-lg text-light opacity-70 pb-2 pb-sm-0 mb-4 mb-sm-5">
							<strong>
								<span class="text-primary">break</span><span class=text-white>screen</span>
							</strong> makes
							it easy to
							create attractive countdown screens for breaks in online classes, workshops, and all kinds
							of events, whether they're happening in person or virtually.
						</p>
						<a href="~/Start" class="btn btn-primary shadow-primary btn-lg fs-xl">Get started&nbsp;&nbsp;<strong>FOR FREE</strong></a>
					</div>
				</div>
			</div>

			<!-- Bottom shape -->
			<div class="d-flex position-absolute top-100 start-0 w-100 overflow-hidden mt-n4 mt-sm-n1"
				 style="color: var(--si-dark);">
				<div class="position-relative start-50 translate-middle-x flex-shrink-0" style="width: 3788px;">
					<svg xmlns="http://www.w3.org/2000/svg" width="3788" height="144" viewBox="0 0 3788 144">
						<path fill="currentColor" d="M0,0h3788.7c-525,90.2-1181.7,143.9-1894.3,143.9S525,90.2,0,0z" />
					</svg>
				</div>
			</div>
			<div class="d-none d-lg-block" style="height: 300px;"></div>
			<div class="d-none d-md-block d-lg-none" style="height: 150px;"></div>
		</div>
		<div class="position-relative zindex-5 mx-auto" style="max-width: 1250px; transform: translateZ(-100px);">
			<div class="d-none d-lg-block" style="margin-top: -300px;"></div>
			<div class="d-none d-md-block d-lg-none" style="margin-top: -150px;"></div>

			<!-- Parallax (3D Tilt) gfx -->
			<div class="tilt-3d" data-tilt data-tilt-full-page-listening data-tilt-max="12"
				 data-tilt-perspective="1200">
				<img src="~/img/pages/hero/layer-01.png" alt="Dashboard">
				<div class="tilt-3d-inner position-absolute top-0 start-0 w-100 h-100">
					<img src="~/img/pages/hero/layer-02.png" alt="Cards">
				</div>
			</div>
		</div>
		<div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255,255,255,.05);"></div>
	</section>

	<!-- Features -->
	<section class="position-relative py-5">
		<div class="container position-relative zindex-5 pb-md-4 pt-md-2 pt-lg-3 pb-lg-5">
			<div class="row justify-content-center text-center pb-3 mb-sm-2 mb-lg-3">
				<div class="col-xl-6 col-lg-7 col-md-9">
					<h2 class="h1 mb-lg-4">Beautiful Countdown Screens. Simplified.</h2>
					<p class="fs-lg text-muted mb-0">
						Many consider breaks to be the highlight of any event, and we
						couldn't agree more! That's why we've created <strong>
							<span class="text-primary">break</span>screen
						</strong> to make them even more enjoyable. We have included some handy features, such as...
					</p>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0 pb-xl-3">

				<!-- Item -->
				<div class="col position-relative">
					<div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
						<div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
							<i class='fa-light fa-timer text-primary' style="font-size: 52px;"></i>
						</div>
						<div class="card-body text-center">
							<h3 class="h5 pb-1 mb-2">Effortless Countdowns</h3>
							<p class="mb-0">
								Simplify event planning with our user-friendly web app. Generate countdown
								screens quickly for virtual workshops or in-person conferences.
							</p>
						</div>
					</div>
					<hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-sm-block">
					<hr class="position-absolute top-100 start-0 w-100 d-none d-sm-block">
				</div>

				<!-- Item -->
				<div class="col position-relative">
					<div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
						<div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
							<i class='fa-light fa-gear text-primary' style="font-size: 52px;"></i>
						</div>
						<div class="card-body text-center">
							<h3 class="h5 pb-1 mb-2">Customizable Options</h3>
							<p class="mb-0">
								Personalize your countdown experience effortlessly. Choose break types and
								themes that reflect your unique style.
							</p>
						</div>
					</div>
					<hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-md-block">
					<hr class="position-absolute top-100 start-0 w-100 d-none d-sm-block">
				</div>

				<!-- Item -->
				<div class="col position-relative">
					<div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
						<div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
							<i class='fa-light fa-mobile text-primary' style="font-size: 52px;"></i>
						</div>
						<div class="card-body text-center">
							<h3 class="h5 pb-1 mb-2">Mobile Convenience</h3>
							<p class="mb-0">
								Never miss a beat with our mobile countdown timer feature. Scan the QR code
								and take the countdown with you wherever you go.
							</p>
						</div>
					</div>
					<hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-sm-block d-md-none">
					<hr class="position-absolute top-100 start-0 w-100 d-none d-sm-block">
				</div>

				<!-- Item -->
				<div class="col position-relative">
					<div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
						<div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
							<i class='fa-light fa-globe text-primary' style="font-size: 52px;"></i>
						</div>
						<div class="card-body text-center">
							<h3 class="h5 pb-1 mb-2">Global Support</h3>
							<p class="mb-0">
								Say goodbye to time zone confusion. Attendees worldwide can follow countdown
								end times in their local time zone.
							</p>
						</div>
					</div>
					<hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-md-block">
					<hr class="position-absolute top-100 start-0 w-100 d-none d-sm-block d-md-none">
				</div>

				<!-- Item -->
				<div class="col position-relative">
					<div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
						<div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
							<i class='fa-light fa-calendar-clock text-primary' style="font-size: 52px;"></i>
						</div>
						<div class="card-body text-center">
							<h3 class="h5 pb-1 mb-2">Efficient Coordination</h3>
							<p class="mb-0">
								Coordinate events across time zones effortlessly. Enjoy peace of mind
								knowing everyone is on the same page.
							</p>
						</div>
					</div>
					<hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-sm-block">
				</div>

				<!-- Item -->
				<div class="col position-relative">
					<div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
						<div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
							<i class='fa-light fa-balloons text-primary' style="font-size: 52px;"></i>
						</div>
						<div class="card-body text-center">
							<h3 class="h5 pb-1 mb-2">Engage Your Audience</h3>
							<p class="mb-0">
								Make events memorable with captivating countdown screens. Elevate
								anticipation and excitement for breaks, trainings, and conferences.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255,255,255,.05);"></div>
	</section>

	<!-- CTA -->
	<section class="bg-secondary py-5">
		<div class="container text-center py-1 py-md-4 py-lg-5">
			<h2 class="h1 mb-4">Ready to Get Started?</h2>
			<p class="lead pb-3 mb-3">Creating an account is free and only takes a minute.</p>
			<a href="~/Start" class="btn btn-primary shadow-primary btn-lg mb-1">Get started</a>
		</div>
	</section>
</main>

<!-- Footer -->
<partial name="~/Pages/Shared/_Footer.cshtml" />

@section Scripts {

	<!-- Vendor Scripts -->
	<script src="js/vanilla-tilt/vanilla-tilt.min.js"></script>
	<script src="js/rellax/rellax.min.js"></script>
	<script src="js/swiper/swiper-bundle.min.js"></script>
	<script src="js/img-comparison-slider/index.js"></script>
	<script src="js/cleave/cleave.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>

}
